.border_style {
  border: 2px solid grey;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.p_small {
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid rgb(248 113 113);
  --tw-border-opacity: 1;
}
.w_30 {
  width: 30%;
}
.upcoming {
  /* Rectangle 7 */

  box-sizing: border-box;

  position: absolute;
  left: 0%;
  right: 85.05%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0px 45px 45px 0px;
}