/* .pl_20 {
  padding-left: 10%;
}
.image_style {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: 100% 30%;
}

.movie-container {
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .movie-container {
    grid-template-columns: repeat(3, 1fr);
  } 
}

@media screen and (min-width: 1080px) {
  .movie-container {
    grid-template-columns: repeat(4, 1fr);
  } 
} */